fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
psycopg
pydantic
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
bcrypt==4.0.1
alembic
python-multipart
pycryptodome
mega-py-v2
tenacity>=8.2.0
apscheduler
pytest
httpx